body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
  background: #f8f9fa;
}

#dropzone {
  width: 80%;
  max-width: 500px;
  height: 200px;
  border: 3px dashed #00aaff;
  border-radius: 12px;
  margin: auto;
  padding-top: 60px;
  cursor: pointer;
  background: white;
  transition: 0.2s;
}

#dropzone.dragover {
  background: #e7f7ff;
  border-color: #0077cc;
}

#fileInput {
  display: none;
}

progress {
  width: 80%;
  height: 20px;
  margin-top: 20px;
}
